<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Metro-Estates Buyers Dashboard Page</h1>
    <h2>Services we provide for buying</h2>
    <ul>
        <h3>BUYERS</h3>
        <li><a href="{{url_for('buyProp')}}">Buy Property</a></li>
        <li><a href="{{url_for('buyLeaseProp')}}">Lease Property (Buy)</a></li>
    </ul>
    
</body>
</html>