<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <script src="{{ url_for('static', filename='javaScript.js') }}"></script>

</head>
<body>
    <h1>Welcome to Metro-Estates</h1>
    
    <form method="POST" action="/Register">
        <table>
            <tr>
                <td>New User ??</td>
                
                <td><input type="Submit" value="Register"></td>
            </tr>
        </table>
    </form>
    
    
    <form method="POST" action="/dashboard">
        <table>
            <tr>
                <td>Enter userID:</td>
                <td><input type = "text" name="id"></td>
            </tr>
            <tr>
                <td>Enter Password:</td>
                <td><input type = "password" name="pass"></td>
            </tr>
            <tr>
                <td><input type="Submit"></td>
            </tr>
        </table>
    </form>
    
</body>
</html>